/***** normalize-ccs *****/


html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  figcaption,
  figure,
  main { /* 1 */
    display: block;
  }
  
  figure {
    margin: 1em 40px;
  }
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
  }
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  b,
  strong {
    font-weight: inherit;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  dfn {
    font-style: italic;
  }
  
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  audio,
  video {
    display: inline-block;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  img {
    border-style: none;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  button,
  html [type="button"], /* 1 */
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* 2 */
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  details, /* 1 */
  menu {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  canvas {
    display: inline-block;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
  
  /** /\ ** normalize-ccs ** /\ **/ 
  

body {
  min-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', 'Cuprum', Arial, Tahoma, San-francis, sans-serif;
}

* {
box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.head-top {
  height: 42px;
  background: #293449;
}

.head-logo {
  display: inline-block;
  width: 220px;
  height: 42px;
  padding: 9px;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
  background: #ee3643;
  color: #ffffff;
  font-family: 'Cuprum';
  font-size: 24px;
  line-height: calc(24/24);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.head-link {
  color: #ffffff;    
  font-family: 'Cuprum';
  font-size: 17px;
  line-height: calc(18/17);
  text-align: center;
  text-decoration: none;
}

.head-middle {
  background: #f3f7f8;
}

.head-middle-box {
  display: flex;
  justify-content: space-between;
}

.head-middle p {
  width: 200px;
  margin-left: 53px;
  color: #ee3643;
  font-family: 'Cuprum';
  font-size: 16px;    
  line-height: calc(23/16);
  font-style: italic;
}

.head-number {
  display: inline-block;
  width: 270px;
  height: 45px;
  padding: 6px;
  border: 3px solid #ffffff;
  color: #ee3643;
  font-family: 'Cuprum';
  font-size: 21px;
  line-height: calc(24/18);
  text-align: center;
}

.head-address {
  padding: 10px;
  color: #32425c;
  font-family: 'Cuprum';
  font-size: 14px;
  line-height: calc(24/14);
  text-align: center;
}

.head-btn-log {
  display: inline-block;
  width: 120px;
  height: 45px;
  padding: 13px 27px;
  background: #ffffff;
  color: #111111;
  font-family: 'Cuprum';
  font-size: 21px;
  line-height: calc(18/21);
  text-align: right;
  text-decoration: none;

}

.head-btn-reg {
  width: 150px;
  height: 45px;
  padding: 13px 27px;
  background: #ffffff;
  color: #111111;
  font-family: 'Cuprum';
  font-size: 21px;
  line-height: calc(18/21);
  text-align: right;
  text-decoration: none;
}

.head-bottom {
  background: #f3f7f8;
}

.head-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  background: #293449;
}

.nav-link {
  color: #ffffff;
  font-family: 'Cuprum';
  font-size: 17px;
  line-height: calc(17/17);
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav-group-1 {
  width: 300px; 
  height: 123px;
  margin-right: 20px;
  background: #ee3643;
}

.main-nav-group-2 {
  width: 300px; 
  height: 123px;
  margin-right: 20px;
  background: #ee3643;
}

.main-nav-group-3 {
  width: 300px; 
  height: 123px;
  background: #ee3643;
}

.main-nav-group-4 {
  width: 620px; 
  height: 266px;
  margin-right: 20px;
  margin-top: 20px;
  background: #ee3643;
}

.main-nav-group-5 {
  width: 300px; 
  height: 123px;
  margin-top: 20px;
  background: #ee3643;
}

.main-nav-group-6 {
  width: 300px; 
  height: 123px;
  margin-top: 20px;
  background: #ee3643;
}
